.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
 
}

input{
    width: 80%
}

.search-btn{
    font-size: 24px;
}




